@use '@/scss' as *;

.products {
   scroll-behavior: smooth;
   font-family: 'Open Sans', sans-serif;
   // padding-top: 50px;
   padding-bottom: 50px;
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-template-areas: 'filter products products products';

   &__filters {
      grid-area: filter;
      padding: 80px 20px 20px 0;
   }
   &__list {
      grid-area: products;
      padding-top: 100px;
   }
}
@include laptop {
   // grid-template-columns: 1fr;
   .products {
      grid-template-columns: 1fr;
      grid-template-areas: 'filter' 'products';
      &__filters {
         // display: none;
      }

      &__list {
      }
   }
}
