@use '../../scss/variables' as *;

button {
   cursor: pointer;
   border-radius: 0;
}

.btn {
   font-size: 1.2rem;
   padding: 1rem 3rem;
   font-weight: 400;
   display: flex;
   align-items: center;
   justify-content: center;

   &-outlined {
      background-color: transparent;
      border: 1px solid black;
      position: relative;
      z-index: 1;

      &:before {
         z-index: -1;
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         height: calc(100% + 1px);
         width: 0;
         transition: $transition--common;
      }

      &:hover {
         color: white;
      }

      &:hover:before {
         background-color: rgba($color: #000, $alpha: 0.8);
         left: -1px;
         width: calc(100% + 1px);
      }
   }
}
