.order-summary {
   display: flex;

   .products {
      display: flex;
      flex-direction: column;
      padding: 40px 40px 20px 0;
      .product-card {
         display: flex;
         &__image {
            margin-right: 20px;
         }
         img {
            height: 130px;
            width: auto;
            object-fit: cover;
         }

         &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
         }
      }
   }
}
