@use '@/scss/variables' as *;
@use '@/scss/mixin' as *;

.filter-by-sorting {
   margin-top: 30px;
   margin-right: 40px;
   h4 {
      font-family: 'josefin sans', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 1.5em;
      letter-spacing: 0.12em;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
   }
}
