@use "@/scss" as *;

a:hover {
   color: #1d1d1d;
}

.product-detail__thumbnail img {
   transition: transform 0.5s ease;
}

.product-detail__thumbnail:hover img {
   transform: scale(1.4);
}

.product-detail__info {
   margin-top: 40px;
}

.product {
   &-detail {
      display: flex;
      width: 100%;
      min-height: 100px;
      // margin-bottom: 100px;
      &__thumbnail {
         width: 100%;
         overflow: hidden;
      }
      &__info {
         width: 100%;
         padding: 0 30px;
         form {
            margin-top: 38px;

            .add-to-cart {
               display: flex;
               flex-wrap: wrap;
               gap: 20px;
            }
         }
      }
      &__title {
         font-family: "josefin sans", sans-serif;
         font-weight: 600;
         text-transform: uppercase;
         color: #1d1d1d;
         font-size: 40px;
         line-height: 1.33em;
         letter-spacing: 0.23em;
         margin: 25px 0 0;
         -ms-word-wrap: break-word;
         word-wrap: break-word;
      }
      &__price {
         font-family: "eb garamond", serif;
         font-size: 18px;
         font-style: italic;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
         -ms-flex-direction: row;
         flex-direction: row;
         -webkit-box-pack: start;
         -ms-flex-pack: start;
         justify-content: flex-start;
         color: #1d1d1d;
         margin-top: 0;
      }
      &__description {
         margin-top: 28px;
         font-family: "open sans", sans-serif;
         line-height: 1.8em;
         color: #8b8b8b;
      }

      &__meta {
         margin-top: 30px;

         &-label {
            flex-shrink: 0;
            margin-right: 8px;
            font-family: "josefin sans", sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            color: #1d1d1d;
            font-size: 13px;
            line-height: 1.6em;
            letter-spacing: 0.2em;
            line-height: 2.7em;
         }
         &-value {
            font-family: "eb garamond", serif;
            font-size: 17px;
            font-weight: 400;
            font-style: italic;
            color: #8b8b8b;
            line-height: 1.8em;
         }
      }
      &__categories {
         display: flex;
      }
   }

   @include tablet {
      &-detail {
         flex-wrap: wrap;
      }
   }
}
